@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

:root{
    --pink: #FEB9B9;
    --dark: #3A4164;
    --white: #FEF7F2;
}

h2, p{
    text-align: center;

}

body{
    color:var(--white);

    width: 90%;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px auto;

    background: #DE6262;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFB88C, #DE6262);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFB88C, #DE6262); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.musictype{
    font-style: underline;
    font-weight: 600;

}

h2{
    
    margin-top: 25px;
    font-size: 2rem;
    text-transform: uppercase;
    font-family: 'Dela Gothic One', cursive;
}

.card-div{
    margin: 50px 0; 
}

.card{
    border-radius: 10px;
    padding: 10px 25px;
    background-color:rgba(188, 227, 240, 0.582);
    display: flex;
    flex-direction: column;
}

h3{
    margin: 10px 0;
}

h4{
    margin: 10px 0;
    text-align: center;
}

.div-lyrics p{
    margin: 20px 10%;
}
.card span {
    text-shadow:1px 0px 1px grey, 0 0 1px grey, 0 0 1px grey;
    color: rgba(250, 250, 250, 0.582);
    font-size: 30px;
    margin: -10px 0px;
}
span.liked{
    /* fill-rule: evenodd; */
    color:#d15959;
    text-shadow: none;
}
